<div class="header_wrapper">
  <h3><%= @user.name %>'s <%= @category.name %> collection.</h3>
</div>

  <h5><%= user_products_message(@user_products.count) %></h5>

<div class="user_products_wrapper">
  <table class="table table-hover">
    <% @user_products.each do |user_product| %>
    <tr>
      <td><%= user_product.product.name %></td>
      <td>$<%= user_product.price %></td>
      <td><%= link_to "Delete", user_product_path(user_product), method: :delete, class: "btn btn-outline-danger btn-sm" %>
    </tr>
    <% end %>
  </table>
</div>

<p><%= value_of_collection(@user_products) %></p>


<div class="button_class">
  <%= link_to "Add products to this category",  category_products_path(@category), type:"button", class:"btn btn-dark" %>
</div>

<div class="back_button">
  <%= link_to "Back", user_path(@user), class: "btn btn-light" %>
</div>
